body{
    background-image: url('./4-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.para{
    margin: 50px 0 0 50px;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.3);
}